.feature {
	padding: 40px 0 80px 0;
	position: relative;
	&__text {
		text-align: center;
		margin: 0 auto;
		margin-top: 80px;
	}

	&-inner {
		padding: 50px 0 0 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		&__card {
			display: inline-block;
			width: 254px;
			margin: 10px;
			padding: 45px 25px;
			transition: all .2s ease;


			animation: all .8s ease-out;
			animation-delay: 0.5s;
			animation-fill-mode: backwards;

			&:hover {
				-webkit-backface-visibility: hidden;
				transform: translateY(-5px) scale(1.02);
				box-shadow: 0 0 35px rgba(17, 17, 17, 0.225);
			}
		}
	}

	@include gradient-row-top;

	@include gradient-row-bottom;
}
