.footer {
	background-color: #202932;

	&-inner {
		padding: 70px 0 50px 0;

		@include respond(tab-port) {
			text-align: center;
		}
	}
	&-logo{
		width: 32px;
	}
	&-list {
		display: flex;
		flex-direction: row-reverse;

		@include respond(tab-port) {
			justify-content: center;
		}
		&__inner {
			padding: 0 20px;

			&--title {
				display: none;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}

	&-copyright {
		color: #889bb0;
		padding: 20px 0;
		font-size: 14px;
	}
	&-social {
		color: #889bb0;
		padding: 20px;
		font-size: 14px;
		list-style: none;
		display: flex;
		flex-direction: row-reverse;

		@include respond(tab-port) {
			justify-content: center;
		}
		&__inner:not(:first-child) {
			margin-right: 35px;

			@include respond(tab-land) {
				margin-right: 30px;
			}
		}

		&__inner {
			&:hover {
				cursor: pointer;
				text-decoration: underline;
				color: #fff;
			}
		}
	}
}
