.partnership {
	text-align: center;
	padding-top: 8.5rem;

	&-inner {
		position: relative;
		&__logo-box {
			list-style-type: none;
			padding: 20px 0;
			border: 1px solid linear-gradient(to right, red, blue);
		}

		&__logo {
			display: inline;

			&:not(:last-child) {
				margin-right: 20px;

				@include respond(phone){
					margin-right: 0;
				}
			}
			@include respond(phone){
			display: block;
			}
		}

		@include gradient-row-top;
	}
}

.logo {
	&-1 {
		animation: pop-partnership 1s;
		padding: 10px;
		
		transition: all .2s ease;
		@include bigger;
	}
	&-2 {
		animation: pop-partnership 1s;
		animation-delay: 0.2s;
		animation-fill-mode: backwards;
		padding: 10px;

		transition: all .2s ease;
		@include bigger;
	}
	&-3 {
		animation: pop-partnership 1s;
		animation-delay: 0.3s;
		animation-fill-mode: backwards;
		padding: 10px;

		transition: all .2s ease;
		@include bigger;
	}	
	&-4 {
		animation: pop-partnership 1s;
		animation-delay: 0.4s;
		animation-fill-mode: backwards;
		padding: 10px;

		transition: all .2s ease;
		@include bigger;
	}
	&-5 {
		animation: pop-partnership 1s;
		animation-delay: 0.5s;
		animation-fill-mode: backwards;
		padding: 10px;

		transition: all .2s ease;
		@include bigger; 
	}
}