.partnership {
	text-align: center;
	padding-top: 8.5rem;

	&-inner {
		position: relative;
		&__logo-box {
			list-style-type: none;
			padding: 2rem 0;
			border: 1px solid linear-gradient(to right, red, blue);
		}

		&__logo {
			display: inline;

			&:not(:last-child) {
				margin-right: 2rem;

				@include respond(phone) {
					margin-right: 0;
				}
			}
			@include respond(phone) {
				display: block;
			}
		}
		@include gradient-row-top;
	}
}

.logo {
	&-1 {
		padding: 1rem;
		@include bigger;
		width: 144px;
	}
	&-2 {
		padding: 1rem;
		@include bigger;
		width: 111px;
	}
	&-3 {
		padding: 1rem;
		@include bigger;
		width: 144px;
	}
	&-4 {
		padding: 1rem;
		@include bigger;
		width: 150px;
	}
	&-5 {
		padding: 1rem;
		@include bigger;
		width: 144px;
	}
}
