.btn {
	background-color: #3525d3;

	&-primary {
		border-radius: 2px;
		border-color: none;
		padding: 10px 25px;
		font-weight: 700;

		&:hover {
            background-color: #3d2dda;
            box-shadow: 0px 15px 30px rgba($color-black, .3);
		}
	}
	&.facus,&:focus{
		outline: none;
	}

	&-shadow {
		box-shadow: 0px 10px 30px rgba($color-black, .2);
	}
}
