.custom-card {
	text-align: center;
	min-height: 320px;
	border: 1px solid #ececec;
	border-radius: 3px;
	box-shadow: 0 0 3rem rgba($color-black, .125);
	&.white {
		background-color: white;
	}

	&.black {
		background-color: black;
	}

	&__pict {
		width: 128px;
		height: 72px;
	}
	&__title {
		font-weight: 700;
		margin: 20px 0 0 0;
	}

	&__paragraph {
		// font-size: 1.125rem;
	}
}
